
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Teachers can list all users. A user can read/write their own document.
    match /users/{userId} {
      allow list: if request.auth.token.role == 'Guru';
      allow read, write: if request.auth != null && (request.auth.uid == userId || request.auth.token.role == 'Guru');
    }
    
    // Chapters are public read for any authenticated user. Only teachers can write.
    match /chapters/{chapterId} {
      allow read: if request.auth != null;
      allow write: if request.auth.token.role == 'Guru';
    }

    // Submissions can be listed by teachers.
    // Students can create/update/get their own submissions.
    // Teachers can get any submission.
    match /submissions/{submissionId} {
        allow list: if request.auth.token.role == 'Guru';
        allow get: if request.auth != null && (resource.data.studentId == request.auth.uid || request.auth.token.role == 'Guru');
        allow create, update: if request.auth != null && request.resource.data.studentId == request.auth.uid;
    }
  }
}
